[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "subwiz-cpu"
version = "0.2.0"
description = "A recon tool that uses AI to predict subdomains. Then returns those that resolve. (CPU-only version)"
readme = "README.md"
requires-python = ">=3.9, <3.13"
authors = [{name = "Klaas Meinke", email = "klaas@hadrian.io"}]
keywords = ["machine learning", "recon", "subdomains", "transformers"]
license = {text = "MIT License"}
dependencies = [
    "aiodns>=1.0.0",
    "huggingface-hub>=0.5.0",
    "pydantic>=1.10.0",
    "tldextract>=3.0.0",
    "torch>=2.3.0+cpu",
    "transformers>=4.34.0"
]

[project.scripts]
subwiz = "subwiz.cli:main"

[project.urls]
Source = "https://github.com/hadriansecurity/subwiz"
