name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install Packages
        run: >
          pip install -r requirements.txt
            --index-url https://download.pytorch.org/whl/cpu 
            --extra-index-url https://pypi.org/simple

      - name: Run Tests
        run: pytest --verbose